/* Importando uma fonte moderna do Google */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    font-family: 'Inter', sans-serif; 
    background-color: #dee6f3; 
    color: #131f36; 
    display: flex; 
    flex-direction: column;
    min-height: 100vh; /* 100% da altura da Viewport (tela) */
}

header, footer {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px; 
    background-color: #131f36; 
    width: 100%;   
}

header {
    gap: 20px; 
    position: sticky; 
    top: 0; 
    z-index: 1000; 
}

h1 {
    display: flex; 
    flex-direction: column;   
    align-items: center; 
    text-align: center; 
    font-size: xx-large; 
    font-weight: bold; 
    margin: 5px 0; 
    padding: 8px; 
    border-radius: 5px;
    text-transform: uppercase; 
}

.titulo-categoria {
    font-size: 0.5em;
    letter-spacing: 2px; 
    color: #c1d18c; 
}

.titulo-nome {
    font-size: 1.2em; 
    color: #dee6f3; 
}

.menu-principal {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    list-style: none; 
}

.menu-principal a { 
    font-size: large;
    text-transform: uppercase; 
    transition: 0.3s; 
}

main {
    flex: 1; 
    width: 100%; 
    max-width: 800px;
    margin: 0 auto; 
    display: flex;
    flex-direction: column; 
    gap: 0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px 20px; 
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}

[id] {
   scroll-margin-top: 160px !important; 
}

h2 {
    width: 100%;
    text-align: left; 
    font-size: x-large;
    font-weight: bold;
    color:  #c1d18c;
    margin: 0 0 20px 0;
    padding: 15px; 
    border: 1px solid #c1d18c; 
    border-radius: 5px; 
    background-color: #131f36;
}

.flexbox-sobre-mim {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}


.flexbox-sobre-mim img {
    width: 200px; 
    padding: 10px;
    flex-shrink: 1;
    border-radius: 15px;
}

#texto-sobre-mim {
    flex: 1;
}

p {
    text-align: justify;
    margin: 5px; 
    padding: 10px; 
}

#softskill {
    text-align: center;
}

#softskill h3 {
    font-size: 2em;
    margin: 20px;
}

.softskill-lista {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.softskill-card {
    background-color: #131f36;
    color: #c1d18c;
    border: 1px solid #c1d18c;
    border-radius: 15px;
    padding: 10px 10px;
}

.table {
    width: 100%;
    max-width: 500px;
    border-collapse: collapse;
    margin: 0 auto 0 auto;
    background-color: #131f36;
    border-radius: 5px;
    overflow: hidden; 
}

#table-head {
    background-color: #131f36;
    font-size: large;
}

#table-head th {
    color: #c1d18c;
}

th, td {
    padding: 10px 15px;
    text-align: center;
    color: #dee6f3;
    border-bottom: 1px solid #c1d18c55;
}

#table-body {
    background-color: #252c3874;
}


a { 
    color: #c1d18c; 
    text-decoration: none; 
}

a:hover { 
    text-decoration: underline; 
    color: white; 
}

.projetos-container {
    display: flex;
    justify-content: center; 
    width: 100%;
    margin-bottom: 0;
}

#projetos h3 {
    text-align: left;
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
    margin: 5px; 
    padding: 2px 0; 
}

.projeto-screenshot {
    width: 100%;          
    max-height: 300px;    
    object-fit: cover;    
    border-radius: 10px;   
    margin: 15px 0;        
    border: 1px solid #c1d18c; 
}

.projeto-card {
    background-color: #131f36;
    color: #dee6f3;
    border: 2px solid #c1d18c;
    border-radius: 15px;
    padding: 25px;
    max-width: 600px; 
    text-align: center;
    transition: 0.3s;
}

.projeto-card:hover {
    outline: 5px solid #c1d18c;
    transform: scale(1.01); 
}

.p-contato, .contato-lista{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    justify-content: center;
    margin-bottom: 15px;
}

.contato-item {
    background-color: #131f36;
    color: #dee6f3;
    border: 2px solid #c1d18c;
    border-radius: 15px;
    padding: 20px 30px;
    transition: 0.3s;
}

.contato-item:hover {
    outline: 5px solid #c1d18c;
}

.contato-item strong {
    display: block;
    margin-bottom: 5px;
}

.contato-item a {
    font-size: small;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 500px; 
    margin: 0 auto;   
    align-items: flex-start; 
}

label {
    display: block; 
    color: #131f36;
    font-weight: bold;
    text-align: left;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    background-color: #dee6f3;
    color: #131f36;
    border: 1px solid #131f36;
    border-radius: 8px;
    box-sizing: border-box; 
}

input:focus, textarea:focus { 
    outline: none;
    box-shadow: 0 0 10px #c1d18c;
}

input[type="checkbox"] {
    width: auto;
    display: inline-block;
    margin-right: 10px;
}

#botao {
    background-color: #131f36;
    color: #c1d18c;
    font-weight: bold;
    cursor: pointer;
    border: none;
    padding: 15px;
    transition: 0.3s;
    margin-top: 10px;
}

#botao:hover {
    transform: scale(1.02); 
    outline: 5px solid #c1d18c;
}

footer {
    margin-top: auto; 
    color: #c1d18c; 
}